################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prueba2/obj
/Prueba2/bin/Debug/netcoreapp3.1
